@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f1f5f9;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1.05rem;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}
